<div class="container">
  <div class="produktas" *ngIf="product.disc > 0" [ngClass]="{'disc': product.disc > 0}">
    <img src="https://www.ermitazas.lt/out/pictures/master/product/1/323016.jpg" alt="Produktas">
    <h3 class="pavadinimas">{{product.name}}</h3>
    <div class="kiekis">{{product.qty}} pcs</div>
    <div klass="kaina">{{product.price}} EUR</div>
  </div>

  <div class="buttons">
    <button (click)="product.add()">add</button>
    <button (click)="product.remove()" [disabled]="product.qty <=0">remove</button>
  </div>
</div>